.date-picker {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 50px;
}

.date-picker__input-container {
    position: relative;
    height: 50px;
}

.date-picker__input-container input {
    width: 100%;
    height: 50px;
    border: solid 2px #696969;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    padding: 0px 35px 0px 30px;
    transition: 0.6s;
}

.date-picker__input-container input.valid {
    border-color: black;
}

.date-picker__label {
    position: absolute;
    left: 0;
    padding: 0px 10px;
    font-size: 16px;
    font-weight: 400;
    color: #696969;
    margin: 15px 20px;
    transition: 0.5s;
    transform: translate(0px, -4px);
    pointer-events: none;
    background-color: white;
}

.date-picker__input-container input:focus~.date-picker__label,
.date-picker__input-container.has-value .date-picker__label {
    transform: translate(0px, -28px);
    background-color: #fff;
    color: black;
    font-weight: 600;
}

.date-picker__calendar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 60%;
    background: white;
    border: 1px solid #696969;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 10px;
}

.date-picker__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.date-picker__header select {
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 14px;
    background: none;
    border-radius: 10px;
    padding: 10px 30px;
}

.date-picker__weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 5px;
    text-align: center;
}

.date-picker__weekday {
    font-weight: bold;
    color: #555;
}

.date-picker__body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.date-picker__day {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.3s;
}

.date-picker__day:hover {
    background: #25a8e4;
    color: white;
}

.date-picker__day--selected {
    background: #25a8e4;
    color: white;
}

.date-picker__day--empty {
    visibility: hidden;
}

.date-picker__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.date-picker__clear-button {
    background: none;
    border: none;
    color: #f44336;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 5px;
    font-weight: 800;
    border: solid 1px #f44336;
    border-radius: 20px;
    transition: 0.5s;

    &:hover {
        background-color: #d93d3d;
        color: white;
    }
}